{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}" media="screen,projection" />

  <link type="text/css" rel="stylesheet" href="{% static 'css/repton_styles.css' %}" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
  <script type='text/javascript' src="{% static 'js/cookie.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/repton_app.js' %}"></script>
  
  {% block scripts %}{% endblock %}

  <title>{% block titlebar %}{% endblock %}</title>
</head>

<body>

<header>
    {% block index_features %}
    <nav class="blue darken-4">
      <div class="nav-wrapper z-depth-3" >
        <a href="{% url 'create_guest' %}" class="brand-logo left blue-text text-lighten-2"><i class="material-icons left">local_hospital</i>Repton Medical</a>
        <ul class="right">
              {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li><a href="{% url 'logout'%}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
              {% endif %}
        </ul>

      </div>
    </nav>




    {% endblock %}

</header>

<main>
  <div class="container">

    {% if user.is_staff %}
      <nav>
          <div class="nav-wrapper blue darken-3">
              <div class ="col s12">
              {% block breadcrumbs %}
                  <!--<a href="{% url 'guest_list' %}" class="breadcrumb blue-text text-lighten-2">Guest Profiles</a>
                  <a href="{% url 'create_guest' %}" class="breadcrumb blue-text text-lighten-2" style="padding-left: 10px">New profile</a>-->
              {% endblock %}
              </div>
          </div>
      </nav>
    {% endif %}

  {% block content %}  {% endblock %}
  </div>

</main>
  <footer class="page-footer blue darken-4 blue-text text-lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>Repton Medical</h5>
          <p class="white-text">First in patient safety</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright blue darken-4 blue-text text-lighten-2">
      <div class="container">
        © {% now "Y" %} Repton Medical
      </div>
    </div>
  </footer>

</body>

</html>
