<div id="modal{{ profile.id }}" class="modal">
  <div class="modal-content">
    <h4><i class="material-icons">delete</i>Delete profile for {{ profile.full_name }}?</h4>
    <p>This action cannot be undone.</p>
  </div>
  <div class="modal-footer">
    <button type="button" name="button" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
    <a data-id="{{ profile.id }}" data-target="modal{{ profile.id }}" class="js-delete-guest modal-action modal-close waves-effect waves-green btn-flat red-text" type="submit">Delete</a>
  </div>
</div>
