{% extends "base.html" %}

{% block titlebar %}
  Profile updated!
{% endblock %}

{% block content %}

<div class="section">
    <div class="container">
        Thank you - we've updated this profile.
    </div>
</div>

<div class="divider"></div>

<div class="section">
    <div class="container">
        <a class="waves-effect waves-light btn" href="{% url 'guest_list'%}">Back to guest profile list</a>
    </div>
</div>




{% endblock %}
