{% extends "base.html" %}

{% block titlebar %}
  Update Guest Profile
{% endblock %}
{% block breadcrumbs %}
    <a style="padding-left: 10px" href="{% url 'guest_list' %}" class="breadcrumb">Guest Profiles</a>
    <a href="{% url 'create_guest' %}" class="breadcrumb" style="padding-left: 10px">{{object.full_name}}</a>

 {% endblock %}
{% block content %}

{% if user.is_staff %}

<div class="section">

    <h5>Update Guest Profile</h5>

    <div style="display: inline">
        <form action="" method="post">{% csrf_token %}
            {{ form }}

            <div class="right" style="padding-bottom: 10px">
                <button class="btn waves-effect waves-light green" type="submit" name="action">Save
                    <i class="material-icons right">save</i>
                </button>
            </div>
        </form>

        <form id="deleteform" action="{% url 'guest_delete' object.id %}" name="">{% csrf_token %}

            <div class="right" style="padding-right: 10px; padding-bottom: 10px">
                <button data-target="modal1" form="deleteform" class="btn waves-effect waves-light red modal-trigger">Delete
                    <i class="material-icons right">delete</i>
                </button>
            </div>
            <!-- Modal Structure -->
              <div id="modal1" class="modal">
                <div class="modal-content">
                  <h4>Delete profile for {{ object.full_name }}?</h4>
                  <p>This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" name="button" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
                  <button data-target="modal1" form="deleteform" class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Delete</button>
                </div>
              </div>

        </form>

    </div>

</div>
{% else %}
    Sorry, you don't have access to this page!
{% endif %}

{% endblock %}
