{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/delete-guest.js' %}"></script>
<script type="text/javascript">
    var delete_url = "{% url 'list_delete' %}";
</script>
{% endblock %}

{% block titlebar %} Guest Profiles {% endblock %}

{% block breadcrumbs %}
<a style="padding-left: 10px" href="{% url 'guest_list' %}" class="breadcrumb">Guest Profiles</a> {% endblock %}

{% block content %}
{% if user.is_staff %}
<div class="section">
    <br>
    <div class='right-align'>
        <a class="btn-floating btn-large waves-effect waves-light green" href="{% url 'create_guest' %}">
            <i class="material-icons">add</i></a>
        <br> <br>
    </div>

    <ul id="list_guests" class="collection">

        {% for profile in object_list %}

        <li id="profile_{{ profile.id }}" class="collection-item">
            {% include "delete_modal.html" %}
            <div class="valign-wrapper right"><a data-target="modal{{ profile.id }}" class="modal-trigger btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">delete</i>
                </a></div>

            <a href="{{ profile.get_absolute_url }}" class="blue-text text-darken-2">
                <p> {{ profile.full_name }} <br>
                    {{ profile.email }}
                </p>
                </a>
            <span class="title">{{ profile.role }}</span>

        </li>

        {% endfor %}


    </ul>

</div>

{% include "pagination.html" %}
</div>

{% else %} Sorry, you don't have access to this page! {% endif %}
{% endblock %}
