{% extends "base.html" %}

{% block titlebar %}
  Form submitted!
{% endblock %}

{% block content %}

<div class="section">
    <div class="container">
        Thank you - we've saved your info.
    </div>
</div>

<div class="divider"></div>

<div class="section">
    <div class="container">
        <a class="waves-effect waves-light btn" href="{% url 'guest_list'%}">View guest profiles</a>
        <a class="waves-effect waves-light btn" href="{% url 'create_guest'%}">Start again as new visitor</a>
    </div>
</div>




{% endblock %}
