{% extends "base.html" %}

{% block titlebar %}
  Visitor Form
{% endblock %}
{% block breadcrumbs %}
    <a style="padding-left: 10px" href="{% url 'guest_list' %}" class="breadcrumb">Guest Profiles</a>
    <a href="{% url 'create_guest' %}" class="breadcrumb" style="padding-left: 10px">New profile</a>

 {% endblock %}
{% block content %}

<div class="section">
    <h5>Guest Form</h5>

    <form method="post" class="validate">{% csrf_token %}
        {{ form }}


                <div class="right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>

                </div>



    </form>
</div>








{% endblock %}
